.dragable {
  position: relative;
  z-index: 99;
  transform: translateX(-50%);
  overflow: hidden;
}

.homeButton {
  width: 200px;
  height: 6px;
  top: 0;
  border-radius: 3px;
  background: white;
  position: absolute;
  z-index: 1000;
}

.app-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}