.App {
  position: relative;
  font-family: sans-serif;
  text-align: center;
  height: 812px;
  width: 375px;
  border-radius: 40px;
  background: url('./Assets/bg.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.dragable {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 15px;
  background: linear-gradient(#BBB, #999);
  z-index: 99;
  transform: translateX(-50%);
}

.homeButton {
  width: 200px;
  height: 6px;
  top: 0;
  border-radius: 3px;
  background: white;
  position: absolute;
  z-index: 1000;
}

.quickAccessBar {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  height: 94px;
  width: 355px;
  border-radius: 30px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
