.Phone {
  position: relative;
  font-family: sans-serif;
  text-align: center;
  height: 812px;
  width: 375px;
  border-radius: 40px;
  background: url('./Assets/bg.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.quickAccessBar {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  height: 94px;
  width: 355px;
  border-radius: 30px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.outer {
  height: 812px;
  width: 375px;
  background-color: crimson;
  padding: 20px;
  display: flex;
}

.inner {
  background-color: white;
  flex-grow: 1;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}